# Faisal Hammoodi - n01701382

# Created by https://www.toptal.com/developers/gitignore/api/androidstudio

# Edit at https://www.toptal.com/developers/gitignore?templates=androidstudio

### AndroidStudio

*.apk
*.ap_
*.aab

*.dex

*.class

bin/
gen/
out/

.gradle
.gradle/
build/

.signing/

local.properties

proguard/

*.log

/*/build/
/*/local.properties
/*/out
/*/*/build
/*/*/production

captures/
.navigation/

*.ipr
*~
*.swp

*.jks
*.keystore

.externalNativeBuild

obj/

*.iml
.idea/

.classpath
.project
.cproject
.settings/

*.war
*.ear

hs_err_pid*

!/gradle/wrapper/gradle-wrapper.jar
